@import '../../scss/variables';

.calendar__wrapper {
	margin: 30px 70px 0px;

	@media all and (min-width: 1280px) {
		margin: 50px 250px;
	}
}

.mood-list {
	display: flex;
	flex-wrap: wrap;
}

.page__title {
	font-size: 12px;
	margin-bottom: 5px;
}
