.btn--save {
	background-color: lightblue;
}

.btn--cancel {
	background-color: white;
}

.btn--newRecord {
	background-color: white;
	width: 100%;
	margin-bottom: 30px;
	font-size: 40px;
	cursor: pointer;
}
