@import '../../scss/variables';

.btn--save {
	background-color: $color-primary;
	width: 100%;
	font-size: 20px;
	padding: 5px;
	cursor: pointer;
	color: $color-neutral-0;
	border-radius: 5px;
	text-transform: uppercase;
	opacity: 0.8;

	transition: all 0.3s ease-in;

	&:hover {
		// background-color: $color-neutral-1000;
		// // color: $color-primary;
		opacity: 1;
	}
}

.btn--cancel {
	background-color: transparent;
	width: 100%;
	font-size: 20px;
	padding: 5px;
	cursor: pointer;
	color: $color-neutral-700;

	transition: all 0.3s ease-in;

	&:hover {
		color: $color-primary;
	}
}

.btn--newRecord {
	background-color: $color-neutral-0;
	width: 100%;
	margin-bottom: 30px;
	font-size: 40px;
	cursor: pointer;
	transition: all 0.3s ease-in;

	&:hover {
		color: $color-primary;
	}
}
